*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Public Sans', sans-serif;
    background-color: rgb(246, 248, 249);
}

header{
    background-color: white;
    padding: 0.5rem 1rem;
    
}
main{
   padding: 4rem 0;
}
button{
    border-radius: 0.5rem;
    display: inline-block;
    margin: 0.2rem;
    padding: 0.5rem 0.8rem;
}
.task{
    background-color:rgb(68, 156, 215);
    color: white;
    border: 0.1rem solid rgb(133, 199, 253);
    
}
.section{
    background-color: white;
    border: 0.1rem solid lightgrey;
    color: rgb(174, 174, 174);
}
.icon {
    border-radius: 50%;
    display: inline-block;
    height: 25px;
    width: 25px;
    font-size: 1rem;
    margin-right: 0.5rem;
    text-align: center;
    line-height: 25px;
    
}
.icon-green{
    border: 0.1rem solid rgb(105, 226, 186);
    color: rgb(102, 221, 181);
}
.icon-red{
    border: 0.1rem solid rgb(251, 74, 74);
    color: rgb(221, 102, 102);
}

.title-logo{
    display: inline-block;
    vertical-align:middle;
    font-size: 1.5rem; 
}

.logo{
    display: inline-block;
    vertical-align:middle;
    
}

.container{
    width: 920px;
    background-color: white;
    margin: auto;
    border-radius: 0.5rem;
}

.add{
    border-bottom: 0.2rem solid lightgray;
    padding: 1rem 5rem;
   
}
.list-container{
    padding: 2rem 5rem;
}

.list{
    color: rgb(70, 70, 70);
    padding: 1rem 0;
}
    
.list-title{
    display: inline-block;
}
.list-item{
    padding: 0.3rem;
}
.list-item p{
    display: inline-block;
}
.badge{
    color: white;
    display: inline-block;
    padding: 0.3rem;
    font-size: small;
    border-radius: 1rem;
}
.blue{
    background-color: rgb(68, 156, 215);
    
}
.pink{
    background-color: rgb(255, 91, 198);
   
}
.limegreen{
    background-color: rgb(157, 223, 24);
    
}
.purple{
    background-color: rgb(188, 144, 228);
    
}
.aquamarine{
    background-color: rgb(46, 204, 151);
}   
.orange{
    background-color: orange;
    
}